@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<StationOnLine> lines = ViewBag.faultyLines;
}

<div class="text-center">
    <h5>Dashboard</h5>
</div>

<div>
    @if (lines.Count == 0)
    {
        <div class="card text-white bg-success mb-3 text-center align-items-center" style="max-width: 100rem;">
            <div class="card-header">All lines operational!</div>
            <div class="card-body">
                <h5 class="card-title">There are no breakdowns or delays.</h5>
            </div>
        </div>
    }
    @*<div class="card-columns align-content-center text-center">*@
        @foreach (var line in lines)
        {
            @if ((int)line.status >= 1 && (int)line.status <= 3)
            {
                <div class="card text-white bg-danger mb-3 align-content-center text-center" style="max-width: 100rem;">
                    <div class="card-header">@(line.stationCode + ": " + line.Station.stationName)</div>
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 15px">@line.status</h5>
                        <a href="@Url.Action("Edit", "Home", new { stationCode = line.stationCode })" class="stretched-link"></a>
                    </div>
                </div>
            }
            @if ((int)line.status >= 4)
            {
                <div class="card text-white bg-warning mb-3 align-content-center text-center" style="max-width: 100rem;">
                    <div class="card-header">@(line.stationCode + ": " + line.Station.stationName)</div>
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 15px">@line.status</h5>
                        <a href="@Url.Action("Edit", "Home", new { stationCode = line.stationCode })" class="stretched-link"></a>
                    </div>
                </div>
            }
        }
    @*</div>*@
</div>

