@{

}

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success</strong> Edit successful
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    @*<div class="alert alert-success alert-dismissible" role="alert">Edit successful!</div>*@
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Station Code</th>
                <th>Station Name</th>
                <th>Status</th>
                <th>Edit</th>
            </tr>
            @foreach (var sol in (List<StationOnLine>)ViewBag.Line)
            {
                <tr>
                    <td>@sol.stationCode</td>
                    <td>@sol.Station.stationName</td>

                    @if ((int)@sol.status == 0)
                    {
                        <td style="color:green">@sol.status</td>
                    }
                    else if ((int)@sol.status >= 1 && (int)@sol.status <= 3)
                    {
                        <td style="color:red">@sol.status</td>
                    }
                    else
                    {
                        <td style="color:orange">@sol.status</td>
                    }

                    <td><a href="@Url.Action("Edit", "Home", new { stationCode = sol.stationCode })"><i class="fas fa-edit"></i></a></td>
                </tr>
            }
        </table>
    </div>
</div>